<div id="wrapper">
  <!-- blog note -->
  <div class="blog">
	<%= render :partial => 'blognote' %>
  </div>

  <!-- hall of fame -->
  <div class="fame">
    <%= render :partial => 'famehall' %>
  </div>

  <div class="boxes">
	<div class="inner">
	  <div class="left">
		<!-- Challanges -->
		<%= render :partial => 'challange' %>

		<!-- Google map -->
		<%= render :partial => 'map' %>
	  </div>

	  <div class="right">
		<!-- Teams list -->
		<%= render :partial => 'teams' %>
	  </div>
	</div>
  </div>
</div>

